.callcards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.callcards__button {
  height: 40px;
  width: 80px;
  color: white;
  background-color: rgb(248, 68, 100);
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}
