.footer {
  height: 100px;
  background-color: #2c3333;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  
}
.footer__icon {
  color: white;
  margin-right: 15px;
}
.footer__icon1 :hover {
  color: #4267b2;
}
.footer__icon2 :hover {
  color: #fb3958;
}
.footer__icon3:hover {
  color: #c4302b;
}
.footer__icon4:hover {
  color: #00acee;
}
.footer__icon5 :hover {
  color: #0077b5;
}
