.header {
  display: flex;
  background-color: #2c3333;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
.header__image {
  width: 150px;
}
.header__input {
  min-width: 25%;
  width: 50%;
  margin-left: 20px;
  height: 25px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header__search__button {
  height: 28px;
  border: none;
  background-color: rgb(248, 68, 100);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1px;
}
.header__select {
  background-color: #2c3333;
  height: 28px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
.header__button {
  height: 28px;
  border: none;
  background-color: rgb(248, 68, 100);
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}
.header__home__icon {
  color: white;

  margin-right: 5px;
}
.header__right {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
