.payment__container {
  margin-top: 150px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.total__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 340px;
  background-color: #2c3333;
  color: white;
  border-radius: 10px;
}
.payment__buttons {
  margin-top: 30px;
}
.payment__button {
  height: 28px;
  border: none;
  background-color: rgb(248, 68, 100);
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  width: 150px;
  margin-bottom: 50px;
  font-weight: bold;
}
.card {
  display: inline-block;
  margin-right: 15px;
  margin-top: 50px;
  /* padding-left: 220px; */
}
