.select__seats {
  margin-top: 100px;
  display: flex;
  padding-left: 20px;
}
.boxes {
  height: 25px;
  width: 25px;
  background-color: #2c3333;
  margin-bottom: 10px;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
}
